/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
 * End Reset
 */

* {
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    max-height: 100vh;
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-color: #1A1A1A;
    color: white;
}

a {
    font-size: 11px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

a:hover {
    color: #4EA8DA;
}

.layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "content" "footer";
    height: 100vh;
}

.layout__content {
    display: grid;
    grid-area: content;
    align-content: center;
    text-align: center;
}

.layout__footer {
    grid-area: footer;
    padding: 1rem;
}

hr {
    border: 0;
    height: 1px;
    min-width: 300px;

    background-image: linear-gradient(90deg, #1A1A1A 0%, #4EA8DA 51.68%, #1A1A1A 100%);
}

.heading {
    font-size: 30px;
    font-weight: 100;
}
.sub-heading {
    font-size: 18px;
    font-weight: 100;
}

.footer__nav-list {
    display: flex;
    max-width: 400px;
    margin: 2rem auto;
}

.footer__nav-list-item {
    flex: 1;
    text-align: center;
}

.footer__nav-list-link {
    font-size: 11px;
    font-weight: 500;
    text-decoration: none;
}

a,
a path {
    color: white;
    fill: white;
    transition: all .3s ease-in-out;
}

a:hover,
a:hover path {
    color: #4EA8DA;
    fill: #4EA8DA;
}

.footer__nav-list-link-icon {
    max-height: 30px;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
}

.footer__resume-download {
    display: block;
    max-width: 100px;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
.heading {
    font-size: 53px;
    font-weight: 100;
}
.sub-heading {
    font-size: 24px;
    font-weight: 100;
}


}